@font-face {
    font-family: "Poppins";
    src: url("/static/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --ref-unit: 1vw;
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --ref-unit: 1.5vh;
    }
}

html {
    background: lightgray;
}

.page-header {
    position: fixed;
    left: calc(30 * var(--ref-unit));
    width: calc(50 * var(--ref-unit));
    top: calc(5 * var(--ref-unit));
}

@media (max-aspect-ratio: 1/1) {
    .page-header {
        left: 0;
        width: 100%;
        text-align: center;
    }
}

.page-header h1 {
    font-weight: normal;
    font-size: calc(5 * var(--ref-unit));
    margin: 0;
}

.page-header h2 {
    font-weight: normal;
    font-size: calc(3 * var(--ref-unit));
    margin: calc(-1 * var(--ref-unit)) 0 0 calc(3 * var(--ref-unit));
}

.bottle {
    position: fixed;
    width: calc(50 * var(--ref-unit));
    left: 0;
    top: calc((100vh - 50 * var(--ref-unit)) / 2 + 5 * var(--ref-unit));
}

@media (max-aspect-ratio: 1/1) {
    .bottle {
        filter: contrast(50%) blur(2vw);
    }
}

@media (max-aspect-ratio: 3/4) {
    .bottle {
        width: 110vw;
    }
}

.center-panel {
    position: fixed;
    width: calc(40 * var(--ref-unit));
    height: calc(30 * var(--ref-unit));
    top: calc(25 * var(--ref-unit));
    left: calc(40 * var(--ref-unit));
}

@media (max-aspect-ratio: 1/1) {
    .center-panel {
        width: 80vw;
        left: 10vw;
    }
}

.center-panel input {
    font-size: calc(3 * var(--ref-unit));
    width: 100%;
    margin-top: calc(1 * var(--ref-unit));
}

.result {
    font-size: calc(3 * var(--ref-unit));
}

.error {
    border: 1px solid red;
    color: red;
    padding: calc(0.2 * var(--ref-unit));
    font-size: calc(1.3 * var(--ref-unit));
}

.invisible {
    opacity: 0;
}

.copy, .copy:visited {
    color: black;
    padding-left: calc(1 * var(--ref-unit));
}

.copy:hover {
    color: grey;
}

.copy:active {
    color: lightpink;
}
